<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AWS-Dashboard</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/normalize.css">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../static/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="../static/assets/scss/style.css">
    <link href="../static/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">


        <!-- Header-->
<!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                 
                    <div class="header-left">

                        <div class="dropdown for-message">
                          <img src="../static/images/aquavista_image.png" height="50%" width="50%">
                          
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                   


                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="mt-3">
            <div class="col-lg-2 col-md-4 col-lg-offset-1 col-md-offset-1">
                <div class="social-box twitter">
                    <i class=""><img src="../static/images/ec2.png" height="30%" width="30%"></img></i>
                    <ul>
                        <li>
                            <strong><span class="count">{{ running }}</span></strong>
                            <span>Running</span>
                        </li>
                        <li>
                            <strong><span class="count">{{ instance_count }}</span></strong>
                            <span>Total</span>
                        </li>
                    </ul>
                </div>
                <!--/social-box-->
            </div><!--/.col-->


            <div class="col-lg-2 col-md-4">
                <div class="social-box google-plus">
                    <i class=""><img src="../static/images/ec2.png" height="30%" width="30%"></img></i>
                    <ul>
                        <li>
                            <strong><span class="count">{{ stopped }}</span></strong>
                            <span>Stopped</span>
                        </li>
                        <li>
                            <strong><span class="count">{{ instance_count }}</span></strong>
                            <span>Total</span>
                        </li>
                    </ul>
                </div>
                <!--/social-box-->
            </div><!--/.col-->

            <a href="" data-toggle="modal" data-target="#s3">
            <div class="col-lg-2 col-md-4">
                <div class="social-box twitter">
                    <i class=""><img src="../static/images/s3.png" height="30%" width="30%"></img></i>
                    <ul>
                        <li>
                            <strong><span class="count">{{ s3_count }}</span></strong>
                            <span>S3 Buckets</span>
                        </li>
                        <li>
                            <strong><span class="count">100</span></strong>
                            <span>Soft limit</span>
                        </li>
                    </ul>
                </div>
                <!--/social-box-->
            </div><!--/.col-->
            </a>
            <div id="s3" class="modal fade" role="dialog">
                 <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Bucket Name</th>
                            </tr>
                            </thead>
                            <tbody id="s3details">
                            </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="" data-toggle="modal" data-target="#rds">
            <div class="col-lg-2 col-md-4">
                <div class="social-box google-plus">
                    <i class=""><img src="../static/images/rds.png" height="30%" width="30%" style="padding: 10px"></img></i>
                    <ul>
                        <li>
                            <strong><span class="count">{{ rds_count }}</span></strong>
                            <span>RDS</span>
                        </li>
                        <li>
                            <strong><span class="count">100</span></strong>
                            <span>Soft limit</span>
                        </li>
                    </ul>
                </div>
                <!--/social-box-->
            </div><!--/.col-->
            </a>
            <div id="rds" class="modal fade" role="dialog">
                 <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>RDS Name</th>
                                <th>Engine</th>
                                <th>Status</th>
                                <th>Storage</th>
                            </tr>
                            </thead>
                            <tbody id="rdsdetails">
                            </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
              <a href="" data-toggle="modal" data-target="#elb">
             <div class="col-lg-2 col-md-4">
                <div class="social-box twitter">
                    <i class=""><img src="../static/images/elb.png" height="30%" width="30%" style="padding: 10px"></img></i>
                    <ul>
                        <li>
                            <strong><span class="count">{{ elb_count }}</span></strong>
                            <span>ELB</span>
                        </li>
                        <li>
                            <strong><span class="count">100</span></strong>
                            <span>Soft limit</span>
                        </li>
                    </ul>
                </div>
                <!--/social-box-->
             </div></a><!--/.col-->
            <div id="elb" class="modal fade" role="dialog">
                 <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>LB Name</th>
                                <th>DNS</th>
                                <th>State</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody id="elbdetails">
                            </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">


                        </div><!--/.row-->
                       <div class="card-header">
                            <strong class="card-title">Instance Details</strong>
                        </div>
                        <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Instance Name</th>
                        <th>Public IP</th>
                          <th>Instance state</th>
                        <th>CPU utilization</th>
                        <th>Disk reads</th>
                      </tr>
                    </thead>
                    <tbody id="instancedetails">


                    </tbody>
                  </table>
                        </div>
                    </div>
                </div>

                </div>
            </div>

         <!-- .content -->

    <!-- Right Panel -->

    <script src="../static/assets/js/vendor/jquery-2.1.4.min.js"></script>

    <script src="../static/assets/js/plugins.js"></script>
    <script src="../static/assets/js/main.js"></script>
    <script src="">

    <script src="../static/assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="../static/assets/js/dashboard.js"></script>
    <script src="../static/assets/js/widgets.js"></script>
    <script src="../static/assets/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="../static/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="../static/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="../static/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script>

        var ins;


  setInterval(function() {
      $.ajax({
      type: "GET",
      url: "/get_instances"
    })
      .success(function( instances ) {
          //ins=JSON.parse(instances);
          //console.log(instances[0].Instances[0].InstanceId);
          var ins="";
          for(var i in instances){
            ins+="<tr> <td>"+ instances[i].Instances[0].InstanceId+ "</td><td>"+ instances[i].Instances[0].PublicIpAddress+"</td><td>"+ instances[i].Instances[0].State.Name+"</td><td>"+
                instances[i].Instances[0].CPU_data+"</td><td>"+ instances[i].Instances[0].DiskReads+"</td></tr>";
          }
          $('#instancedetails').html(ins)
      });
}, 300 * 60);

  setInterval(function() {
      $.ajax({
      type: "GET",
      url: "/elb"
    })
      .success(function( elbs ) {
          var ins="";
          for(var i in elbs.elbs){
            ins += "<tr> <td>" +elbs.elbs[i].name + "</td><td>" + elbs.elbs[i].dns + "</td><td>" + elbs.elbs[i].state + "</td><td>" +
                      elbs.elbs[i].type + "</td></tr>";
          }
          $('#elbdetails').html(ins)
      });
}, 300 * 60);

   setInterval(function() {
      $.ajax({
      type: "GET",
      url: "/rds"
    })
      .success(function( rds ) {
          var ins="";
          for(var i in rds.rds){
            ins += "<tr> <td>" +rds.rds[i].name + "</td><td>" + rds.rds[i].engine + "</td><td>" + rds.rds[i].status + "</td><td>" +
                      rds.rds[i].storage + "</td></tr>";
          }
          $('#rdsdetails').html(ins)
      });
}, 300 * 60);

   setInterval(function() {
      $.ajax({
      type: "GET",
      url: "/s3"
    })
      .success(function( s3 ) {
          var ins="";
          for(var i in s3.buckets){
            ins += "<tr> <td>" +s3.buckets[i] + "</td></tr>";
          }
          $('#s3details').html(ins)
      });
}, 300 * 60);

  $(document).ready(function() {
      $.ajax({
          type: "GET",
          url: "/elb"
      })
          .success(function (elbs) {
              var ins = "";
              for (var i in elbs.elbs) {
                  ins += "<tr> <td>" +elbs.elbs[i].name + "</td><td>" + elbs.elbs[i].dns + "</td><td>" + elbs.elbs[i].state + "</td><td>" +
                      elbs.elbs[i].type + "</td></tr>";
              }
              $('#elbdetails').html(ins)
          });
    $.ajax({
      type: "GET",
      url: "/rds"
    })
      .success(function( rds ) {
          var ins="";
          for(var i in rds.rds){
            ins += "<tr> <td>" +rds.rds[i].name + "</td><td>" + rds.rds[i].engine + "</td><td>" + rds.rds[i].status + "</td><td>" +
                      rds.rds[i].storage + "</td></tr>";
          }
          $('#rdsdetails').html(ins)
      });
    $.ajax({
      type: "GET",
      url: "/s3"
    })
      .success(function( s3 ) {
          var ins="";
          console.log(s3.buckets[0])
          for(var i in s3.buckets){
            ins += "<tr> <td>" +s3.buckets[i]+ "</td></tr>";
          }
          $('#s3details').html(ins)
      });
    $.ajax({
      type: "GET",
      url: "/get_instances"
    })
      .success(function( instances ) {
          //ins=JSON.parse(instances);
          console.log(instances);
          var ins="";
          for(var i in instances){
            ins+="<tr> <td>"+ instances[i].Instances[0].InstanceId+ "</td><td>"+ instances[i].Instances[0].PublicIpAddress+"</td><td>"+ instances[i].Instances[0].State.Name+"</td><td>"+
                instances[i].Instances[0].CPU_data+"</td><td>"+ instances[i].Instances[0].DiskReads+"</td></tr>";
          }
          $('#instancedetails').html(ins)
      });


  });
    </script>

</body>
</html>
